body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  font-family: "Arial", sans-serif;
}

.rainbow-text {
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 200% auto;
  animation: rainbow-shift 15s linear infinite;
}
@keyframes rainbow-shift {
  to {
    background-position: 200% center;
  }
}
